@import '../../../styles/variables.scss';

.nav-item, span{
    color: #ffffff;
    cursor: pointer;
}

.navbar-nav{
    background-color: #732673;
}
a{
    color: $light-grey;
    
    &.active {
        background-color: #993399;
    }
}
.navbar-brand{
    color: white;
    margin-left: 3rem;
}
.container-fluid{
    height: 100% !important;
    a{
        color: white;
    }
    a:hover{
        background-color: #993399;
        color: white;
    }
}
#profile-photo{
border-radius: 50%;
height: 23px;
width: 31px;
}

.navbar{
    background-color: #39004d !important;
    border-bottom: 2px solid $light-grey;
}
#main-nav{
    justify-content: end;
}
.nav-link{
    color: white;
}