@import '../../../styles/variables.scss';

.nav-item, span{
    color: #ffffff;
    cursor: pointer;
}

a{
    color: $light-grey;
    margin-left: 3em;

    &.active {
        border-bottom: 3px solid $gold ;
        background-color: #993399;
    }
}
.container{
    height: 100% !important;
    a:hover{
        background-color: #993399;
        color: white;
    }
}
#profile-photo{
border-radius: 50%;
height: 27px;
width: 31px;
}

.navbar{
    background-color: #39004d !important;
    border-bottom: 2px solid $light-grey;
}