@import '../../../styles/variables.scss';

.nav-item, span{
    color: #ffffff;
}

a{
    color: $light-grey;
    margin-left: 3em;

    &.active {
        border-bottom: 3px solid $gold ;
    }
}
.container{
    height: 100% !important;
}
#profile-photo{
border-radius: 50%;
height: 40px;
width: 50px;
}