@import '../../../styles/variables.scss';
.message-wrapper{
    overflow-y: scroll;
}
::-webkit-scrollbar{ 
    scrollbar-width: thin;
    width: 50px;
    border-radius: 40px;
 }
.select-room{
    .select-room-message{
        width: 30%;
        height: 5%;
        margin-bottom:10%;
        border: 2px solid $gold;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}